<!doctype html>
<html class="no-js" lang="en">{% load static %}
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>IT posts</title>
        <meta name="description" content="InCoders - turning dreams into code reality">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'logo.png' %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'home/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/swiper-bundle.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'home/assets/css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div class="loader-inner">
                <div id="loader">
                    <h2 id="bg-loader">InCoders<span>.</span></h2>
                    <h2 id="fg-loader">InCoders<span>.</span></h2>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

        <!-- Dark/Light-toggle -->
        <div class="darkmode-trigger">
            <label class="modeSwitch">
                <input type="checkbox">
                <span class="icon"></span>
            </label>
        </div>
        <!-- Dark/Light-toggle-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header class="header-style-three">
            <div id="header-fixed-height"></div>
            <div class="header-top-wrap-two">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="header-top-left">
                                <div class="offcanvas-toggle">
                                    <a href="javascript:void(0)" class="menu-tigger-two">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="header-top-social">
                                    <ul class="list-wrap">
                                        {% for s in social %}
                                        <li><a href="{{s.url}}">{{s.icon|safe}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="header-top-right">
                                <div class="header-search-wrap header-search-wrap-two">
                                    <form action="{% url 'search' %}" method="GET">
                                        <input type="text" name="search" placeholder="Qidirish . . .">
                                        <button type="submit"><i class="flaticon-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="menu-area menu-style-three">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-wrap">
                                <nav class="menu-nav">
                                    <div class="logo">
                                        <a href="{% url 'home' %}"><img src="{% static 'logow.png' %}" alt=""></a>
                                    </div>
                                    <div class="logo d-none">
                                        <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt=""></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                                            <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                                            <li><a href="{% url 'blogs' %}">Maqolalar</a></li>
                                            <li><a href="{% url 'contact' %}">Bog'lanish</a></li>
                                            
                                            <li class="menu-item-has-children"><a href="#">Kategoriyalar</a>
                                                <ul class="sub-menu">
                                                    {% for c in ct %}
                                                    <li><a href="{% url 'blog_category' c.slug %}">{{c.name}}</a></li>
                                                   {% endfor %}
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Mualliflar</a>
                                                <ul class="sub-menu">
                                                    {% for u in authors %}
                                                    <li><a href="{% url 'author' u.uuid %}">{{u.full_name}}</a></li>
                                                   {% endfor %}
                                                </ul>
                                            </li>
                                            {% if not request.user.is_staff %}
                                            <li><a href="{% url 'be_author' %}">Muallif bo'lish</a></li>
                                            {% else %}
                                            <li><a href="{% url 'add_post' %}">Maqola qo'shish</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul class="list-wrap">
                                            <!-- <li class="header-wishlist">
                                                <a href="#"><i class="flaticon-heart"></i><span>0</span></a>
                                            </li> -->
                                           
                                            <li class="header-sine-in">
                                                {% if request.user.is_authenticated and request.user.is_staff %}
                                                <a href="{% url 'admin:index' %}"><i class="flaticon-user"></i> {{request.user.username}}</a>
                                                {% elif request.user.is_authenticated  %}
                                                <a href=""><i class="flaticon-user"></i> {{request.user.username}}</a>
                                                {% else %}
                                                <a href="{% url 'login' %}"><i class="flaticon-user"></i> Kirish</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                                </nav>
                            </div>

                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <nav class="menu-box">
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo">
                                        <a href="{% url 'home' %}"><img src="{% static 'logow.png' %}" alt="Logo"></a>
                                    </div>
                                    <div class="nav-logo d-none">
                                        <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="Logo"></a>
                                    </div>
                                    <div class="mobile-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search here...">
                                            <button><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                            <!-- End Mobile Menu -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- offCanvas-area -->
            <div class="offCanvas-wrap">
                <div class="offCanvas-body">
                    <div class="offCanvas-toggle">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="offCanvas-content">
                        <div class="offCanvas-logo logo">
                            <a href="{% url 'home' %}" class="logo-dark"><img src="{% static 'logow.png' %}" alt="Logo"></a>
                            <a href="{% url 'home' %}" class="logo-light"><img src="{% static 'logo.png' %}" alt="Logo"></a>
                        </div>
                        <p style="text-transform: none !important;">Sayt-dasturlash, kiberxavfsizlik, mahsulotni rivojlantirish, texnologiyalar sohasidagi ilmiy va amaliy ma'lumotlarni o'z ichiga oladi. Bunday maqolalar orqali sayt, IT sohasidagi mutaxassislar va xodimlar uchun istiqbolli bilim olish, yangi texnologiyalarni o'rganish va so'nggi ma'lumotlarga ega bo'lish imkoniyatini beradi.</p>
                        <ul class="offCanvas-instagram list-wrap">
                            <li><a href="{{day_image.img1.url}}" class="popup-image"><img src="{{day_image.img1.url}}" alt="img"></a></li>
                            <li><a href="{{day_image.img2.url}}" class="popup-image"><img src="{{day_image.img2.url}}" alt="img"></a></li>
                            <li><a href="{{day_image.img3.url}}" class="popup-image"><img src="{{day_image.img3.url}}" alt="img"></a></li>
                            <li><a href="{{day_image.img4.url}}" class="popup-image"><img src="{{day_image.img4.url}}" alt="img"></a></li>
                            <li><a href="{{day_image.img5.url}}" class="popup-image"><img src="{{day_image.img5.url}}" alt="img"></a></li>
                            <li><a href="{{day_image.img6.url}}" class="popup-image"><img src="{{day_image.img6.url}}" alt="img"></a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="offCanvas-contact">
                        <h4 class="title">Bog'lanish</h4>
                        <ul class="offCanvas-contact-list list-wrap">
                            <li><i class="fas fa-envelope-open"></i><a href="mailto:info@incoders.uz">info@incoders.uz</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:998914484425">+998 91 448 44 25</a></li>
                        </ul>
                        <ul class="offCanvas-social list-wrap">
                            {% for s in social %}
                            <li><a href="{{s.url}}">{{s.icon|safe}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="offCanvas-overlay"></div>
            <!-- offCanvas-area-end -->
        </header>
        <!-- header-area-end -->


      {% block content %}
        {% endblock %}
        <!-- footer-area -->
        <footer>
            <div class="footer-area">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="footer-widget" style="display: grid; grid-template-columns: 1fr 4fr; align-items: center;">
                                    <div class="fw-logo">
                                        <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt=""></a>
                                    </div>
                                    <div class="footer-content">
                                        <p style="text-transform: none !important;">
                                            Bu maqolalar sayti, texnologiyalar sohasidagi so'nggi yangiliklar, ma'lumotlar va so'nggi texnologiyalardagi rivojlanishlarni ko'rib chiqish uchun o'zining maxsus platformasi sifatida faoliyat ko'rsatadi. Maqolalar, mualliflar tomonidan yozilgan va texnologiyalar sohasidagi so'nggi o'zgarishlarga, yangiliklarga va mukofotlarga oid ma'lumotlar bilan to'ldirilgan. Bu sayt, IT sohasidagi so'nggi xabarlarga ulashish, texnologiyalar sohasidagi so'nggi ma'lumotlarga ega bo'lish, so'nggi texnologik xizmatlarni tanitish va texnologiyalar sohasidagi professional jamiyat uchun hamkorlikni kuchaytirish maqsadida yaratilgan.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-bottom-menu">
                                    <ul class="list-wrap">
                                        <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                                        <li><a href="{% url 'contact' %}">Bog'lanish</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p>© {% now "Y" %} Barcha huquqlar himoyalangan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->


        <!-- JS here -->
        <script src="{% static 'home/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'home/assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'home/assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'home/assets/js/slick.min.js' %}"></script>
        <script src="{% static 'home/assets/js/swiper-bundle.js' %}"></script>
        <script src="{% static 'home/assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'home/assets/js/wow.min.js' %}"></script>
        <script src="{% static 'home/assets/js/main.js' %}"></script>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </body>
</html>
